
.tag_0 {	glow:10 red 0.3;	recursive:1;	pretty:1;}
.tag_1 {	glow:10 blue 0.3;	recursive:1;	pretty:0;}
.tag_2 {	glow:10	yellow 0.3;	recursive:1;	pretty:0;}
.tag_3 {	glow:10 green 0.3;	recursive:1;	pretty:0;}
.tag_4 {	glow:10 purple 0.3;	recursive:1;	pretty:0;}
.tag_5 {	glow:10 pink 0.3;	recursive:1;	pretty:0;}
.tag_6 {	glow:10 magenta 0.3;	recursive:1;	pretty:0;}
.tag_7 {	glow:10 cyan 0.3;	recursive:1;	pretty:0;}
.tag_8 {	glow:10 grey 0.3;	recursive:1;	pretty:0;}

module.algo {
	font:Sans Serif;
	font-size:150;
	text-align:bottom;
}

module.neural {
	font:Ubuntu;
	font-size:150;
	text-align:bottom;
}

module.custom_cpp {
	text-color: blue;
	font-weight:bold;
}


module.f_sum_no_seuil {	text:none; }
module.f_bias {	text:none; }
module.f_multiply {	text:none; }
module.f_affiche_image_from_extension {	text:none; }
module.f_grabimages {	text:none; }
module.f_display_image_activity {	text:none; }
module.f_vue_metres {	text:none; }
module.f_checkbox {	text:none; }


link {
	font-size:150;
	font-style:italic;
	arrow-size:1;
	arrow-size-selected:2.5;
	thickness:0.5;
}

link.algo {
	color:0.0,0.8,0.8;
}

link.one_to_all {
	color:0.0,0.0,0.5;
	slashes:2;
}

link.one_to_one {
	color:red;
	slashes:1;
}

link.neuromod {
	color:black;
	dashed:2;
}

group.pretty {
	color: 0.5,0.5,1;
	fill-color: 0.5,0.5,1;
	handle-fill-color: 0.5,0.5,1;
	text-color: white;
	font: "Serif";
	font-size: 300;
	dashed:0;
//	border-radius:10;
	alpha:0.18;
}

group {
	color: 0.5,0.5,0.5;
	border-radius: 10;	
	dashed: 1;
	fill-color: 1.0,1.0,1.0;
	text-color: 0.5,0.5,0.5;
	alpha:0.2;
	font-size:200;
	padding:100;
}

group.highlighted {
	fill-color: #5500ff;
	alpha:0.1;
	text-color: #5500ff;
	font-size:460;
}

group:closed {
	font-size:400;
	text-color: black;
}

group.script {
	font-size:300;
	text-color:white;
	font:Ubuntu;
	dashed:0;
	border-radius:none;
	color: blue;
	handle-fill-color: blue;
}

group:closed.script {
	text-color:blue;
	font:Ubuntu;
	font-size:700;
}

module.isolated {
	opacity:1;
}

module.nonisolated {
	opacity:0.1;
}

link.isolated {
	opacity:1;
}

link.nonisolated {
	opacity:0.1;
}

module.blur { opacity:0.1; }
link.blur {opacity:0.1;}
